.item {
    height: 50px;
    border-radius: 15px;
    padding: 20px;
    margin: 10px 0;
  }
  
  .backend-dev {
    background-color: #F8D4E7;
  }
  
  .frontend-dev {
    background-color: #CFEEF4;
  }
  
  .hr-expert {
    background-color: #F9FF9F;
  }
  